**/.idea/*
/.gradle/*
/bin/
**/out/*
*.prefs
*.project
.classpath
.DS_Store

*.iml
*.pyc
*.lnk
*.log

**/__pycache__/*
**/build/*
**/*.egg-info/*
**/t3c-*.whl
**/build/*
**/node_modules/*
**/dist/*

**/*.sublime-project
**/*.sublime-workspace
*.sqlite3
