[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
django = "*"
django-simpleui = "*"
tglibs = {path = "./whl_package/tglibs-0.0.8-py3-none-any.whl"}
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.7"
